<p id="notice"><%= notice %></p>

<p>
  <strong>分野:</strong>
  <%= @question.field_id %>
</p>

<p>
  <strong>問題:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>答え:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>解説:</strong>
  <%= @question.explanation %>
</p>


<%= link_to '戻る', devide_question_path(@question.field_id) %>
