<div class="title_background">
  <%= devise_error_messages! %>
  <div class="page-header">
    <h1>アカウント作成</h1>
  </div>
  <p>
    アカウントを登録すると、自分のマイページを作成できます。
    ログインすると問題の進捗管理や、間違った問題だけ復習できます。
    ニックネームとメールアドレス、パスワードの入力だけで簡単にログインできます。<br>
    <br>
    ※メールアドレスは、ログイン情報としての利用目的以外では使用いたしません。
  </p>
</div>
<div class="registrations_background">
  <div class="registrations">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="name">
        <%= f.label :name %>
        <p class="in_field"><%= f.text_field :name %></p>
      </div>

      <div class="email">
        <%= f.label :email %>
        <p class="in_field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
      </div>

      <div class="password">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上)
        <% end %>
        <p class="in_field"><%= f.password_field :password, autocomplete: "new-password" %></p>
      </div>

      <div class="password_confirmation">
        <%= f.label :password_confirmation %>
        <p class="in_field"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
      </div>

      <div class="actions">
        <p class="in_field"><%= f.submit "作成",:class=>"form_login_btn col-xs-12"%></p>
      </div>
    <% end %>
  </div>
</div>
