<div class="mypage_top_background">
  <div class="mypage_top">
    <% if current_user.try(:admin?) %>
      <div class="page-header">
        <h1>管理者マイページ</h1>
      </div>
      <p class="admin_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "管理画面", "/admin" %></p>
    <% else %>
      <div class="page-header">
        <h1>マイページ<br>
          <small><%= current_user.name %>さん、こんにちは！</small>
        </h1>
      </div>
      <p>マイページでは学習進捗を確認できます。<br>
         自分の学習進捗に合わせてカリキュラムを選んでください。
      </p>
    <% end %>
  </div>
</div>
<div class="mypage1_background">
  <div class="mypage1">
    <h2>学習進捗</h2>
    <div class="progress">
      <div id ="answer_progress" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=@aria_valuenow aria-valuemin="0" aria-valuemax="100">
        <%= @answer_valuenow.round(1)  %>%
      </div>
    </div>
    <span><%= current_user.name %>さんの進捗は<%= @answer_valuenow.round(1) %>%です。</span>
  </div>
</div>
<div class="mypage2_background">
  <div class="mypage2">
    <h2>正答率</h2>
    <div class="progress">
      <div id="collect_answer_progress" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=@aria_valuenow aria-valuemin="0" aria-valuemax="100">
        <%= @collect_answer_valuenow.round(1)  %>%
      </div>
    </div>
    <span><%= current_user.name %>さんは全問題のうち、<%= @collect_answer_valuenow.round(1) %>%正解してます。</span>
  </div>
</div>
<div class="mypage3_background">
  <div class="mypage3">
    <h2>カリキュラム</h2>
    <p class="curriculum_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "一問一答に挑戦", itimon_ittous_index_path %></p>
    <p class="curriculum_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "分野別で問題を解く", questions_path %></p>
  </div>
</div>
<div class="mypage4_background">
  <div class="mypage4">
    <p class="logout_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <p class="back_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "ホーム", root_path %></p>
    <p class="delete_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "アカウント削除", user_path(current_user.id), method: :delete, data: { confirm: 'アカウントを削除します。よろしいですか？' } %></p>
  </div>
</div>

<script>
$(function(){
  $('#answer_progress').width(gon.answer_valuenow + '%');
  $('#collect_answer_progress').width(gon.collect_answer_valuenow + '%');
});

</script>
