<div class="login_title_background">
  <div class="page-header">
    <h2>ログイン</h2>
  </div>
  <p class="msg">
    自分のマイページにログインします。
    ログインすると問題の進捗管理や間違った問題だけ復習できます。
    マイページを作ってない方は無料アカウントを作成してください。
  </p>
</div>
<div class="login_background">
  <div class="login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="email">
        <%= f.label :email %><br />
        <p class="in_field"><%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form_css col-xs-12" %></p>
      </div>

      <div class="password">
        <%= f.label :password %><br />
        <p class="in_field"><%= f.password_field :password, autocomplete: "current-password",:class=>"form_css col-xs-12" %></p>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="remember_me">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- menkyo_app_adsense -->
      <div class="adsense">
        <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6929540284827971"
           data-ad-slot="5337655340"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      </div>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="actions">
        <%= f.submit "ログイン" ,:class=>"form_login_btn col-xs-12" %>
      </div>
    <% end %>
    <p class="new_account"><%= link_to "▶︎ アカウント作成はこちら", new_user_registration_path %></p>
    <p class="forget_pass"><%= link_to "▶︎ パスワードを忘れた方はこちら", new_user_password_path %></p>
  </div>
</div>
