<!DOCTYPE html>
<html>
  <head>
    <title>学科試験対策の決定版！-運転免許問題集</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= include_gon %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "一問一答", itimon_ittous_index_path, data: {"turbolinks"=>false} %></li>
            <li><%= link_to "問題一覧", questions_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "アカウント作成", new_user_registration_path %></li>
            <% end %>
            <li><%= link_to "お問い合わせ", new_contact_path %></li>
            <li><%= link_to "利用規約", toss_index_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <% if user_signed_in? %>
      <div class="login_sign"><span class="label label-success"><%= link_to "　ログイン：#{current_user.name}　", user_path(current_user.id) %></span></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">close</span>
          </button>
          <%= notice %>
        </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
      <%= alert %>
    </div>
    <% end %>
    <%= yield %>
    <footer>
      <p>© 2018 Copyright supunic</p>
    </footer>
  </body>
</html>
